<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutTestSize="true"
	bootstrap="vendor/autoload.php"
	colors="true"
	xmlns=""
>
	<testsuites>
		<testsuite name="Default test suite">
			<directory>test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<exclude>
				<!-- HHVM does not provide coverage data (and we know it has 100%) -->
				<file>src/shims.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
